/* Fade Transition */
.fade-enter-active,
.fade-leave-active{
  transition: all 700ms ease;
}
.fade-enter-from,
.fade-leave-to{
  opacity: 0;
}

/* Toggle for dropdowns */
.toggle-enter-active,
.toggle-leave-active{
  transition: all 700ms ease;
}
.toggle-enter-from,
.toggle-leave-to{
  opacity: 0;
  transform: translateY(-1.5rem);
}